## copy/rename to .env

# SSH host/IP of the target host to be unlocked
SUL_SSH_IP=192.168.56.109

# SSH port
SUL_SSH_PORT=22

# path to an SSH private key file for key-based SSH connection
#SUL_SSH_KEY="..."

# the LUKS password
SUL_LUKS_PASS="foobar bla"


# URL to an external CSV file
# CSV format: HostIP,unlocking_flag
# IF host matches AND unlocking flag is yes THEN do the unlocking ELSE do nothing
# If SUL_CONTROL_CSV_URL is empty/None then this is disabled
SUL_CONTROL_CSV_URL="https://docs.google.com/spreadsheets/.../export?format=csv"
